In [2]:
import numpy as np
import math
import matplotlib.pyplot as plt
import pandas as pd
pd.__version__

d = {(x, x+1): x for x in range(10)}
print d
t = (5, 6)        # Create a tuple
print(type(t))
print (d[t])

#A tuple is an (immutable) ordered list of values. A tuple is in 
#many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries 
#and as elements of sets, while lists cannot. Here is a trivial example:

{(0, 1): 0, (1, 2): 1, (6, 7): 6, (5, 6): 5, (7, 8): 7, (8, 9): 8, (4, 5): 4, (2, 3): 2, (9, 10): 9, (3, 4): 3}
<type 'tuple'>
5

In [3]:
def f(x):
    return sum(x.flatten())
 
y = np.arange(6.0)
x = np.reshape(y, (2,3))
print x
fx = f(x) # evaluate function value at original point
print "fx",fx
grad = np.zeros(x.shape)
h = 0.00001

# iterate over all indexes in x
it = np.nditer(x, flags=['multi_index'], op_flags=['readwrite'])
print "it",it.multi_index
print ""
while not it.finished:
    global x
# evaluate function at x+h
    ix = it.multi_index
    print "ix",ix
    old_value = x[ix]
    print "ov", old_value
    x[ix] = old_value + h # increment by h
    print "x[ix]", x
    fxh = f(x) # evalute f(x + h)
    print "fxh", fxh
    x[ix] = old_value # restore to previous value (very important!)

    # compute the partial derivative
    print "(fxh - fx) / h",fxh,fx,h
    grad[ix] = (fxh - fx) / h # the slope
    print "grad", grad
    it.iternext()
    print ""

grad

[[ 0.  1.  2.]
 [ 3.  4.  5.]]
fx 15.0
it (0, 0)

ix (0, 0)
ov 0.0
x[ix] [[  1.00000000e-05   1.00000000e+00   2.00000000e+00]
 [  3.00000000e+00   4.00000000e+00   5.00000000e+00]]
fxh 15.00001
(fxh - fx) / h 15.00001 15.0 1e-05
grad [[ 1.  0.  0.]
 [ 0.  0.  0.]]

ix (0, 1)
ov 1.0
x[ix] [[ 0.       1.00001  2.     ]
 [ 3.       4.       5.     ]]
fxh 15.00001
(fxh - fx) / h 15.00001 15.0 1e-05
grad [[ 1.  1.  0.]
 [ 0.  0.  0.]]

ix (0, 2)
ov 2.0
x[ix] [[ 0.       1.       2.00001]
 [ 3.       4.       5.     ]]
fxh 15.00001
(fxh - fx) / h 15.00001 15.0 1e-05
grad [[ 1.  1.  1.]
 [ 0.  0.  0.]]

ix (1, 0)
ov 3.0
x[ix] [[ 0.       1.       2.     ]
 [ 3.00001  4.       5.     ]]
fxh 15.00001
(fxh - fx) / h 15.00001 15.0 1e-05
grad [[ 1.  1.  1.]
 [ 1.  0.  0.]]

ix (1, 1)
ov 4.0
x[ix] [[ 0.       1.       2.     ]
 [ 3.       4.00001  5.     ]]
fxh 15.00001
(fxh - fx) / h 15.00001 15.0 1e-05
grad [[ 1.  1.  1.]
 [ 1.  1.  0.]]

ix (1, 2)
ov 5.0
x[ix] [[ 0.       1.       2.     ]
 [ 3.       4.       5.00001]]
fxh 15.00001
(fxh - fx) / h 15.00001 15.0 1e-05
grad [[ 1.  1.  1.]
 [ 1.  1.  1.]]

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

In [4]:
cols = pd.Series(['R1', 'R2','R3'], index=['a','b','c'])
values = pd.Series([10, 100,1000], index=['a','b','c'])
df = pd.DataFrame(data={'Rows':cols, 'Values':values}, index=['a','b','c'])
print df
#custom dtype
data = np.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')])
#heatmap -color map
#

  Rows  Values
a   R1      10
b   R2     100
c   R3    1000

In [5]:
import pandas as pd
LATITUDE_RANGES = zip(xrange(32, 44), xrange(33, 45))
source_df = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")
def select_and_transform_features(source_df):
    selected_examples = pd.DataFrame()
    selected_examples["median_income"] = source_df["median_income"]
    for r in LATITUDE_RANGES:
          selected_examples["latitude_%d_to_%d" % r] = source_df["latitude"].apply(
          lambda l: 1.0 if l >= r[0] and l < r[1] else 0.0)
    return selected_examples
select_and_transform_features(source_df)[0:4]

,median_income,latitude_32_to_33,latitude_33_to_34,latitude_34_to_35,latitude_35_to_36,latitude_36_to_37,latitude_37_to_38,latitude_38_to_39,latitude_39_to_40,latitude_40_to_41,latitude_41_to_42,latitude_42_to_43,latitude_43_to_44
0,1.4936,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.8200,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.6509,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.1917,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0